<main class="main">
  {{>heading title="Інформація про замовлення"}}
  
      {{#if data.isEmpty}}
    <p>Список замовлень порожній</p>
  {{else}}
  {{!-- {{#with data.purchase}} --}}
  <section class="order-info">
 
      <div class="flex">
        <b>ID:</b> {{data.purchase.id}} 
      
      </div>
     {{>divider}}
          <div class="flex">
           <div> <p><b>Ім’я:</b> {{data.purchase.firstname}} </p>
 <p><b>Прізвище:</b>  {{data.purchase.lastname}}</p>
          </div>
            <div><p><b>Телефон:</b> {{data.purchase.phone}}</p>
            <p><b> Електронна пошта:</b> {{data.purchase.email}}</p>
          </div>
          </div>
          {{>divider}}
        <div class="flex">
          <div>
          <p><b>Назва товару:</b> {{data.purchase.title}}</p>
                 
          <p><b>Коментар:</b> {{data.purchase.comment}}</p>
          </div>
          </div>
          {{>divider}}
          <div class="flex">
            <div>
            <p><b>Вартість товарів:</b> {{data.purchase.productPrice}}</p>
            <p><b>Вартість доставки:</b> {{data.purchase.deliveryPrice}}</p>
            </div>
            <div>
            <p><b>Сума до сплати:</b> {{data.purchase.totalPrice}}</p>
            <p><b>Нараховані бонуси:</b> {{data.purchase.bonus}}</p>
            </div>
          </div>
          {{>divider}}
       
       
   
    

       
      {{!-- <li><b>ID:</b> {{data.purchase.id}}</li>
      <li><b>Товар:</b> {{data.purchase.title}}</li>
      <li><b>Сума:</b> {{data.purchase.totalPrice}} грн</li>
      <li><b>Бонуси:</b> {{data.purchase.bonus}} грн</li>
      <li><b>Ім’я:</b> {{data.purchase.firstname}} {{data.purchase.lastname}}</li>
      <li><b>Телефон:</b> {{data.purchase.phone}}</li>
      <li><b>Пошта:</b> {{data.purchase.email}}</li>
      <li><b>Коментар:</b> {{data.purchase.comment}}</li>
    </ul> --}}
     
       </section>
      {{!-- {{/with}} --}}
       {{/if}}
    <a href="/purchase-change">{{> button text="Змінити дані"}}</a>
 
</main>