<main>

     <form method="POST" action="/purchase-change?id={{id}}" class="form-card">
    {{>heading title="Зміна даних"}}
   
<div class="one">
   {{>field label="ID" name="{{purchase.id}}"}}
   {{>field label="І'мя" name="{{purchase.firstname}}"}}

   {{>field label="Прізвище" name="{{purchase.lastName}}"}}

    {{>field label="Телефон" name="{{purchase.phone}}"}}

    {{>field label="Пошта" name="{{purchase.email}}"}}


      <button type="submit" class="purchase-change__save-btn">Зберегти зміни</button>
    </form>
  </div>
</main>